name: Test

on: [push, pull_request]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - name: git checkout master
        uses: actions/checkout@v2

      - name: install node and npm
        uses: actions/setup-node@v2
        with:
          node-version: 15.x

      - name: install dependencies
        run: npm ci

      - name: es lint code
        run: npm run es:lint || true

      - name: coffee lint code
        run: npm run coffee:lint || true

  test:
    name: Testing
    runs-on: ubuntu-latest

    steps:
      - name: git checkout master
        uses: actions/checkout@v2

      - name: install node and npm
        uses: actions/setup-node@v2
        with:
          node-version: 15.x

      - name: install dependencies
        run: npm ci

      - name: compile and test
        run: npm run test
        env:
          CI: false